In [6]:
import pandas as pd, numpy as np

In [2]:
df = pd.read_parquet('../../data/train_data/test.parquet',columns=['session'])
df.head()

    session
0  11098528
1  11098529
2  11098530
3  11098530
4  11098530

In [3]:
df.session.nunique()

1801251

In [4]:
USR = df.session.astype('int32').unique()
len( USR )

1801251

In [7]:
np.save('test_user_A',USR[:len(USR)//2])

In [8]:
np.save('test_user_B',USR[len(USR)//2:])